<h1>Report Data</h1>

<%= form_for :school, url: schools_path do |f| %>
	<p>
		<%= f.label :"School" %>
		<%= f.text_field :School %>
	</p>

	<p>
		<%= f.label :"Lesson Number" %>
		<%= f.number_field :lessonNum %>
	</p>

	<p>
		<%= f.label :attendance %>
		<%= f.number_field :attendance %>
	</p>
<% end %>
